<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Bem-vindo à Home</h1>

<div>
    <h2>Planos Cadastrados</h2>

    <div th:if="${#lists.isEmpty(planos)}">
        <p th:text="${mensagem}"></p>
        <!-- Botão para cadastrar plano -->
        <a th:href="@{/planos/cadastro}">
            <button>Cadastrar Plano</button>
        </a>
    </div>

    <div th:each="plano : ${planos}">
        <p>
            Tipo de Plano: <span th:text="${plano.tipoPlano}"></span><br>
            Descrição: <span th:text="${plano.descricao}"></span><br>
            Marca: <span th:text="${plano.marcaPlano}"></span><br>
            Tipo de Pagamento: <span th:text="${plano.tipoPagamento}"></span><br>

            <a th:href="@{/planos/{id}/editar(id=${plano.planoId})}">Editar Plano</a>



        <form th:action="@{/planos/{id}/excluir(id=${plano.planoId})}" method="post"
              onsubmit="return confirm('Tem certeza que deseja excluir?');">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit">Excluir</button>
        </form>

        </p>
    </div>
</div>

<!-- Botão para editar os dados do usuário -->
<a th:href="@{/editar}">
    <button>Editar Perfil</button>
</a>

</body>
</html>
