<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form action="/login" method="post">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
    </div>
    <div>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div th:if="${error}">
        <p style="color:red;" th:text="${error}"></p> <!-- Exibe a mensagem de erro -->
    </div>
</form>
</body>
</html>
