<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <title th:text="#{login.titulo}">Login</title>
</head>
<body>
<div th:replace="~{fragments/header-logout :: header-logout}"></div>

<div class="container">
    <div class="login-box">
        <div class="login-container">
            <h2 th:text="#{login.titulo}">Login</h2>

            <form th:action="@{/login}" method="post">
                <div class="input-group">
                    <label for="username" th:text="#{login.email}">Email:</label>
                    <input type="text" id="username" name="username" required />
                </div>

                <div class="input-group">
                    <label for="password" th:text="#{login.senha}">Senha:</label>
                    <input type="password" id="password" name="password" required />
                </div>

                <div class="button-group">
                    <button type="submit" th:text="#{login.botao}">Login</button>
                </div>

                <div th:if="${error}">
                    <p class="error" th:text="${error}"></p>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
