<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Footer</title>
</head>
<body>

<div th:fragment="footer">
    <footer>
        <div class="box">
            <div class="box1">
                <h2>Smartooth AI</h2>
            </div>

            <div class="box2">
                <h3>Nos encontramos nas redes:</h3>
                <div class="icons">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/fiap/">
                                <img th:src="@{/assets/facebook.png}" alt="logo facebook">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/fiapoficial/">
                                <img th:src="@{/assets/instagram.png}" alt="logo instagram">
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/fiap">
                                <img th:src="@{/assets/twitter.png}" alt="logo x-twitter">
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Copyright &copy; 2025</p>
            </div>

            <div class="box3">
                <h3>Equipe</h3>
                <ul>
                    <li>Juliana Mo.</li>
                    <li>Kevin Nobre</li>
                    <li>Sabrina Couto</li>
                </ul>
            </div>
        </div>
    </footer>
</div>

</body>
</html>
