<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="header(usuario)">
    <header class="header-login">
        <div class="header-content">
            <div class="logo-header">
                <img th:src="@{/assets/logo.png}" alt="Smartooth Logo" />
            </div>


            <nav class="nav-menu">
                <ul>
                    <li><a th:href="@{/home}">Home</a></li>
                    <li><a th:href="@{/usuario/logout}">Sair</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>

</body>
</html>
