<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Usuário</title>
</head>
<body>

<h1>Editar Usuário</h1>

<form th:action="@{/editar/{id}(id=${usuario.usuarioPacienteId})}" method="post" th:object="${usuario}">
    <label>Nome:</label>
    <input type="text" th:field="*{nome}" required>
    <br>

    <label>Sobrenome:</label>
    <input type="text" th:field="*{sobrenome}" required>
    <br>

    <label>Email:</label>
    <input type="email" th:field="*{email}" required>
    <br>

    <!-- Outros campos aqui -->

    <button type="submit">Salvar</button>
</form>

<form th:action="@{/deletar/{id}(id=${usuario.usuarioPacienteId})}" method="post">
    <button type="submit">Excluir Usuário</button>
</form>

</body>
</html>
