<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Smartooth</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="~{fragments/header-logout :: header-logout}"></div>
<div class="container">
    <section class="section">
        <div class="home">
            <div class="text">
                <div class="image">
                    <img th:src="@{/assets/mascote.png}" alt="Mascote da Smartooth">
                </div>
                <div class="about">
                    <h1 class="title" th:text="#{home.secao1.titulo}">
                        Simplifique o cuidado odontológico com inteligência artificial
                    </h1>
                    <p th:text="#{home.secao1.paragrafo}">
                        Nosso software utiliza IA para otimizar diagnósticos...
                    </p>
                    <a th:href="@{/usuario/cadastro}">
                        <button class="botao" th:text="#{home.secao1.botao}">
                            Clique aqui para saber mais
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="middle-section">
        <div class="odonto-care">
            <div class="text-black">
                <div class="about-section-odonto">
                    <h1 class="title-black" th:text="#{home.secao2.titulo}">
                        Dicas, Descontos e Cuidados Sob Medida para Você
                    </h1>
                    <p th:text="#{home.secao2.paragrafo}">
                        Com o SmarTooth AI, cada consulta é uma oportunidade...
                    </p>
                </div>
                <div class="image-section-odonto">
                    <img th:src="@{/assets/home-img-odonto.png}" alt="Dentista com paciente">
                </div>
            </div>
        </div>
    </section>

    <section class="section-about">
        <div class="home-section">
            <div class="text-center">
                <div class="about">
                    <h1 class="title" th:text="#{home.secao3.titulo}">
                        Tecnologia e Benefícios que Valorizam Seu Sorriso
                    </h1>
                    <p th:text="#{home.secao3.paragrafo}">
                        Com o SmarTooth AI, cada visita ao dentista se torna...
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
