<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastrar Plano</title>
</head>
<body>
<h1>Cadastrar Plano</h1>
<form th:action="@{/planos/cadastro}" th:object="${planoDTO}" method="post">
    <label >Descrição:</label>
    <input type="text" th:field="*{descricao}" required>
    <br>
    <label >Tipo do Plano:</label>
    <input type="text" th:field="*{tipoPlano}" required>
    <br>
    <label >Marca do Plano:</label>
    <input type="text" th:field="*{marcaPlano}" required>
    <br>
    <label >Tipo de Pagamento:</label>
    <input type="text" th:field="*{tipoPagamento}" required>
    <br>
    <br>
    <button type="submit">Cadastrar</button>
</form>
</body>
</html>
