<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/editar-plano.css}">
    <title>Editar Plano</title>
</head>
<body>
<div th:replace="fragments/header :: header(${usuario})"></div>

<div class="container">
    <div class ="form-box">
<h1>Editar Plano</h1>

<form th:action="@{/planos/{id}/editar(id=${planoDTO.planoId})}" th:object="${planoDTO}" method="post">
    <input type="hidden" name="_method" value="put"/>

    <label>Descrição:</label>
    <input type="text" th:field="*{descricao}" required>
    <br>

    <label>Tipo do Plano:</label>
    <select th:field="*{tipoPlano}" required>
        <option value="" disabled selected>Selecione o Tipo de Plano</option>
        <option th:each="tipo : ${tiposPlano}" th:value="${tipo}" th:text="${tipo}"></option>
    </select>
    <br>

    <label>Marca do Plano:</label>
    <input type="text" th:field="*{marcaPlano}" required>
    <br>

    <label>Tipo de Pagamento:</label>
    <input type="text" th:field="*{tipoPagamento}" required>
    <br>

    <button type="submit">Salvar</button>
</form>
</div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
