<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Cadastrar Plano</title>
</head>
<body>
<div th:replace="fragments/header :: header(${usuario})"></div>
<h1>Cadastrar Plano</h1>

<form action="/plano" method="post">
    <label for="nomePlano">Nome do Plano:</label>
    <input type="text" id="nomePlano" name="nomePlano" required />

    <label for="descricao">Descrição:</label>
    <textarea id="descricao" name="descricao" required></textarea>

    <button type="submit">Cadastrar Plano</button>
</form>

</body>
</html>
